@import '../abstracts/variables';

.programs{
  padding: 0 24px;
  text-align: center;
    
  &__title {
    margin: 32px 0 24px;
  }

  &__description{
    margin: 24px 0;

  }
  &__travel {
    margin: 24px 0;
    align-items: center;
    border-radius: 10px;
    border: 1px solid $color-blue;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: $color-gray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
  }

  &__fotodesc{
    padding: 0px;
  }

  

  &.section-linked {
      padding-top: 45px;
      margin-top: -45px;
  }

  &__enseña {
      text-decoration: none;
      color: $color-orange;
      
      &:hover{
          color: $color-blue;
      }
  }

}

@media screen and (min-width: 600px){
  .programs {
    padding: 0 32px;
    max-width: 1080px;
    margin: auto;

    &__flex{
      display: flex;
      justify-content: space-between;
    }

    &__fotodesc{
      padding: 0 105px;
    }

    &__travel {
      width: 40%;
      text-align: center;

      &__image {
        max-width: 1080px; 
      }
    }
  }
}
  